<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yisquare.springboot.dao.FlowDao">
    <cache/>
    <select id="listFlowServiceByName" parameterType="com.yisquare.springboot.dao.query.QueryCondition" resultType="com.yisquare.springboot.pojo.Flow">
        SELECT  flow.id ,flow.system_code, flow.flowservice_name, flow.description, flow.create_datetime
        FROM flowservice flow
        WHERE flow.system_code = #{systemCode}
        <if test="queryStr != null  and queryStr !=''">
            and flow.flowservice_name like concat('%',#{queryStr},'%')
        </if>
    </select>

    <delete id="deleteFlowServiceByID"  parameterType="int">
        DELETE FROM flowservice
        WHERE id = #{id}
    </delete>

    <insert id="addFlowService" parameterType="com.yisquare.springboot.pojo.Flow">
        INSERT INTO flowservice
                (system_code, flowservice_name, description)
        VALUES(#{systemCode}, #{flowServiceName}, #{description});
    </insert>

    <select id="getFlowByID" resultType="com.yisquare.springboot.pojo.Flow">
        SELECT  id,system_code, flowservice_name, description, create_datetime
        FROM flowservice
        WHERE id = #{id}
    </select>

    <select id="getFlowByCode" resultType="com.yisquare.springboot.pojo.Flow">
        SELECT  id,system_code, flowservice_name, description, create_datetime
        FROM flowservice
        WHERE system_code = #{param1}
        and flowservice_name = #{param2}
    </select>

    <select id="getFlowCount" resultType="int">
        select count(*) from flowservice where system_code=#{systemCode} limit 1
    </select>
</mapper>
