<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yisquare.springboot.dao.SystemDao">
    <select id="getSystemInfoByCode" parameterType="java.lang.String" resultMap="systemInfoMap">
        select
            system.system_code, system.system_name, system.department, user.user_code,user.user_name,system.create_datetime,
            user.email, user.phone
        from system_info system,user
        where  system.owner = user.user_code
        and system_code = #{systemCode};
    </select>
    <select id="listSystemInfoByCode" parameterType="com.yisquare.springboot.dao.query.QueryCondition" resultMap="systemInfoMap">
        select
            system.system_code, system.system_name, system.department, user.user_code,user.user_name,system.create_datetime,
            user.email, user.phone
        from system_info system,user, system_user_relation relation
        where  system.system_code = relation.system_code
        and system.owner = user.user_code
        and relation.member_code= #{operateUserCode}
        <if test="code !=null and code != ''">
         and system_code  like concat('%',#{code},'%')
        </if>


    </select>

    <select id="listAllSystemInfoByCode" parameterType="com.yisquare.springboot.dao.query.QueryCondition" resultMap="systemInfoMap">
    select
    system.system_code, system.system_name, system.department, user.user_code,user.user_name,system.create_datetime,
    user.email, user.phone
    from system_info system,user
    where system.owner = user.user_code
    <if test="code !=null and code != ''">
        and system_code  like concat('%',#{code},'%')
    </if>
    </select>

    <select id="getSystemMemberInfo" resultType="com.yisquare.springboot.pojo.SystemMember">
        select system_code, member_code,`role` from system_user_relation where system_code=#{systemCode}
    </select>

    <select id="getIpInfo" resultType="java.lang.String">
        select ip from system_ip where system_code=#{systemCode}
    </select>

    <resultMap id="systemMemberMap" type="com.yisquare.springboot.pojo.SystemMember">
        <id property="systemCode" column="system_code"/>
        <result property="role" column="role"/>
        <result property="memberCode" column="member_code"/>
    </resultMap>

    <resultMap id="systemInfoMap" type="com.yisquare.springboot.pojo.SystemInfo">
        <id property="systemCode" column="system_code"/>
        <result property="systemName" column="system_name"/>
        <result property="department" column="department"/>
        <result property="createDatetime" column="create_datetime"/>
        <association property="owner" javaType="com.yisquare.springboot.pojo.User">
            <id property="userCode" column="user_code"/>
            <result property="userName" column="user_name"/>
            <result property="phone" column="phone"/>
            <result property="email" column="email"/>
        </association>
        <collection  property="systemMember"  javaType = "java.util.ArrayList" ofType="com.yisquare.springboot.pojo.SystemMember" select="getSystemMemberInfo" column="system_code"  >
        </collection >
        <collection property="ipAddress" ofType="java.lang.String"  select ="getIpInfo" column="system_code"></collection>
    </resultMap>


    <delete id="deleteSystemInfo" parameterType="java.lang.String">
        delete from system_info where system_code = #{systemCode};
    </delete>

    <delete id="deleteSystemMember" parameterType="java.lang.String">
        delete from system_user_relation where system_code = #{systemCode};
    </delete>

    <delete id="deleteSystemIP" parameterType="java.lang.String">
        delete from system_ip where system_code = #{systemCode};
    </delete>

    <insert id="createSystemInfo" parameterType="com.yisquare.springboot.pojo.SystemInfo">
        insert into system_info (system_code,system_name,department,owner) values (#{systemCode},#{systemName},#{department},#{owner.userCode});
    </insert>

    <insert id="insertSystemIP" >
         insert into system_ip (system_code, ip) values
        <foreach collection="ipAddress" item ="item" separator="," >
            (#{systemCode},#{item})
        </foreach>;
    </insert>

    <insert id="insertSystemMember" parameterType="com.yisquare.springboot.pojo.SystemMember">
        insert into system_user_relation (system_code,role,member_code) values
        <foreach collection="systemMember" item="item" separator=",">
            (#{item.systemCode},
            #{item.role},
            #{item.memberCode})
        </foreach>

    </insert>

    <select id="getUserRole" resultType="java.lang.Integer">
        SELECT MIN(role) FROM system_user_relation
        WHERE member_code =#{userCode}
    </select>

    <update id="updateSystemInfo">
        update system_info set
        system_name = #{systemName},
        department = #{department},
        owner = #{owner.userCode}
        where system_code = #{systemCode}
    </update>


    <delete id="updateSystemInfoByPatch">
    </delete>


</mapper>